#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.level-dropdown {
  width: 220px;
  padding: 8px 40px 8px 14px; /* extra right padding for arrow */
  font-size: 16px;
  line-height: 1.2;

  border-radius: 10px;
  border: 2px solid #bbb;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
}

.section-divider {
  margin: 28px 0;
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #d1d5db,
    transparent
  );
}

.byline {
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 16px;
  color: #555;
}

@media (prefers-color-scheme: dark) {
  .byline {
    color: #aaa;
  }
}
